p {
  color: white;
  margin: 0px !important;


}

.svgcolor {
fill: #ffff;

}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kex {
  fill: beige;
}

.formwrapper {
  justify-content: center;
  text-align: center;
}

.knappdiv {
  font-size: 10px;
  border: 0px;
  padding-left: 10px;
}

.svgdiv {
  justify-content: center;
  text-align: center;
}

.show {
  height: 200px;
  width: 200px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
